# OS cruft
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
renv/

# Env config files
.env
.python-version

# Do NOT commit datasets
src/data/train.csv
src/data/test.csv
src/data/predictions_r.csv
src/data/predictions.csv
# Keep the folder
!src/data/.gitkeep